body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
    /*text-align: center;*/
    font-family: Arial, sans-serif;
  }

  
  .slot-machine {
    width: 140px;
    height: 120px;
    background-color: #66BB6A; 
    margin: 10px;
    text-align: center;
    cursor: pointer;
    
  }
 

  .choices-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: bottom;  Align choices-container to the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    margin-top: 30px;
  }
  

  .question-mark {
    font-size: 30px;
    margin-top: 40px;
  }

  .question-mark-attention {
    font-size: 30px;
    margin-top: 40px;
  }

  .question-mark-choice {
    font-size: 30px;
    margin-top: 40px;
  }

  .status {
    font-size: 18px;
    margin-top: 20px;
    display: none;
  }
  
  .trial-counter {
    position: absolute;
    display: flex;
    align-items: bottom; /* Align choices-container to the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    font-size: 15px;  
  }

  .reward-counter {
    position: absolute;
    display: flex;
    align-items: top; /* Align choices-container to the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    font-size: 15px;  
    margin-top: 180px;
  }

  .default_button_instructiondiv {
    height: 40px;
    position: absolute;
    justify-content: center;
    align-items: bottom; /* Align choices-container to the top */
    width: 200px;
    font-size: 90%;
    left: 37.5%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
}

.default_button {
  height: 40px;
  position: absolute;
  justify-content: center;
  align-items: bottom; /* Align choices-container to the top */
  width: 200px;
  font-size: 90%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}
.back_button {
  height: 20px;
  position: absolute;
  justify-content: center;
  align-items: bottom; /* Align choices-container to the top */
  width: 100px;
  font-size: 90%;
  left: 10%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}

.confirmChoice_button,
.attentionConfirm_button {
  position: absolute;
  justify-content: center;
  font-size: 90%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}


.displayed-div {
  display: none; /* Hide all divs by default */
  position: static;
  text-align: center;
  /*max-width: 65%;
  margin-left: 17.5%;*/
  }
  
  
  

.instruction-div {
  display: none; /* Hide all divs by default */
  position: fixed;
  top: 45px;
  bottom: 30px;
  left: 17.5%;
  width : 65%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 17.5%; 
  overflow: auto;

}


.progress-container {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  background-color: #000000;
  display: block;
  position: fixed;
  top: 30px; /* Stick it to the top */
  z-index: 999;
}

.progress-bar {
  width: 0;
  height: 5px; /* Adjust as needed */
  background-color: #66BB6A;
  transition: width 0.2s;
  z-index: 999;
}

.confirmButtonContainer {
  position: absolute;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 400px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}



  #nextTrialMessage {
    display: none;
    position: absolute;
    font-size: 25px;
    /* Adjust the font size as needed */
    text-align: center;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
  }
  
  
  #nextGameButton {
    display: none;
    text-align: center;
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
  }
  

  #gameEndContainer {
    display: none;
    position: absolute;
    text-align: center;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
  }

  #gameEndChoiceContainer {
    display: none;
    position: absolute;
    text-align: center;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
  }
